{% extends "base.html" %}

{% block title %}<title>Gestão de Verbas</title>{% endblock %}

{% block content %}
<section class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Gestão de verbas</h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <form action="" method="post" class="row">
                {% csrf_token %}
                <div class="col-md-3 form-group">
                    {{ form.codigo_acao.label }}
                    {{ form.codigo_acao }}
                </div>
                <div class="col-md-3 form-group">
                    {{ form.data_prevista.label }}
                    {{ form.data_prevista }}
                </div>
                <div class="col-md-3 form-group">
                    {{ form.investimento.label }}
                    {{ form.investimento }}
                </div>
                <div class="col-md-3 row">
                    <div class="col-md-6 form-group">
                        <label></label>
                        <button type="submit" class="btn btn-success btn-block">Adicionar</button>
                    </div>
                    <div class="col-md-6 form-group">
                        <label></label>
                        <button type="reset" class="btn btn-warning btn-block">Limpar</button>
                    </div>
                </div>               
            </form>
            {% if form.errors %}
                {% for field, errors in form.errors.items %}
                    <ul style="list-style-type: none;">
                        {% for error in errors %}
                            <li class="alert alert-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
        <div class="container-fluid">
            <table id="tabela" class="display table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Ação</th>
                        <th>Data prevista</th>
                        <th>Investimento previsto</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in acoes %}
                    <tr>
                        <td>{{ a.codigo_acao }}</td>
                        <td>{{ a.data_prevista | date:"d/m/Y" }}</td>
                        <td>{{ a.investimento }}</td>
                        <td><a class="botao-editar" href="{% url 'acao-update' a.pk %}">&#x270E;</a></td>
                        <td><a class="botao-excluir" href="{% url 'acao-delete' a.pk %}">&#x2716;</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
    <script>
        $(document).ready( function () {
            $('#tabela').DataTable({
                columnDefs: [
                    { targets: 2, render: $.fn.dataTable.render.number('.', ',', 2, 'R$ ')},
                    { targets: [3,4], className: 'text-center' },
                    { targets: [3,4], orderable: false },
                ],
                paging: false,
                searching: false,
                info: false
            });
        } );
    </script>
{% endblock %}